{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-12 pt-4 text-center">
            <h1>Encontre o profissional certo para a sua necessidade.</h1>
        </div>
    </div>
    <div class="row p-5">
        <div class="col-12">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" name="s"/>
                </div>
            </form>
        </div>
    </div>   

    

{% endblock %}
