{% extends 'dashboard/base.freelancer.html.twig' %}

{% block title %}Precisa-se! - Dashboard{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Freelancer Dashboard</h1>
    <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-success"><i class="far fa-money-bill-wave"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Saldo</span>
                <span class="info-box-number">410</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
    </div>
    
</div>
{% endblock %}
